<p-toast></p-toast>

<div class="admin-page">
    <p-card card [header]="editmode ? 'Edit Category' : 'Add Category'" card subheader="You can add or edit categories here">
        <div class="grid">
            <div class="col-12">
                <p-toolbar>
                    <div class="p-toolbar-group-left"></div>
                    <div class="p-toolbar-group-right">
                        <p-button
                            (onClick)="onSubmit()"
                            [label]="editmode ? 'Update' : 'Create'"
                            icon="pi pi-plus"
                            styleClass="p-button-primary mr-2"
                        ></p-button>
                        <p-button label="Cancel" icon="pi pi-arrow-circle-left" styleClass="p-button-secondary"></p-button>
                    </div>
                </p-toolbar>
            </div>
        </div>

        <div class="grid mt-4">
            <div class="col-12">
                <form [formGroup]="form">
                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="name">Name</label>
                            <input
                                formControlName="name"
                                id="name"
                                name="name"
                                type="text"
                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                            />
                            <small *ngIf="form.controls.name.invalid && isSubmitted" class="p-error">Name is Mandatory</small>
                        </div>
                        <div class="field col">
                            <label for="icon">Icon</label>
                            <input
                                formControlName="icon"
                                id="icon"
                                type="text"
                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                            />
                            <small *ngIf="form.controls.icon.invalid && isSubmitted" class="p-error">icon is required</small>
                        </div>
                        <div class="field col">
                            <label for="color">Color</label><br />
                            <p-colorPicker formControlName="color"></p-colorPicker>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="grid">
            <div class="col-12"></div>
        </div>
    </p-card>
</div>
